body{
    padding: 100px;
}
#login-area h1{
    color: rgb(70, 104, 55);
    font-size:50px;
    font-weight:900;
}
.submit-area{
    margin-top:50px;
    padding:50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display:none;
}
.status{
    margin: 0 20px;
    padding:30px 20px;
    color:#fff;
    border-radius: 10px;
}
.deposit{background-color: slateblue;}
.withdraw{background-color: lightsalmon;}
.balance{background-color: orange;}